* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
    position: relative;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
margin: 0 auto;
}